<h1>Give us feedback!</h1>

<%= form_for @contact_form, url: contact_form_path do |f| %>
  <% form_tag(contact_form_path, :method => :put) %>
  <div class="fields">
  	<%= f.label :name %><br />
  	<%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :email %><br />
  	<%= f.text_field :email %>
  </div>
  <div class="field">
  	<%= f.label :body %><br />
  	<%= f.text_area :body %>
  </div>
  <div class="actions">
  	<%= f.submit %>
  </div>
<% end %>
  